# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

book.json
package-lock.json
package.json
## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

.DS_Store
# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf
