.custom-container {
    img {
     	margin-right:auto;
     	margin-left:auto;
  	}
    
}
.custom-container .center {
      text-align: center;
}

.center {
	text-align: center;
}

.custom-container {
    .right {
    	text-align: right;
    }
}

table {
  width: 100%;
  display: table;
}