.custom-container {
    img {
     	margin-right:auto;
     	margin-left:auto;
  	}
    
}

.custom-container .center  p {
      text-align: center;
}

.custom-container {
    .right {
    	text-align: right;
    }
}

